html/dev/pug/layout/blog-inner-content.pug
section
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-flex.blog-inner
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h1.vc_custom_heading.title(style='text-align: center;') Blog
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    .breadcrumbs
                        span
                            a.home(href='#') Home
                        span Configuring and scaling data platforms when doing cloud native application development
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-4.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    img.thumbnail(src="img/blog-inner.png", alt="#")
                    ul.meta
                        li(style="color:#5C4188")
                            a(href="#") Culture
                        li(style="color:#123265") 
                            p.icon-line 15 min
                    .author
                        .author-photo
                            h3 Author:
                            img(src="img/photo-2.jpg", alt="")
                        .author-description
                            h4 Hamish Lister
                            h5 Senior Content Manager
                            p Hamish is a senior content manager at Ostride Labs. Hamish’s diverse background in technical research, analysis and market demand are the main drivers behind the topics he enjoys exploring and writing about.
                    .blog
                        h3 Read more
                        .blog-item
                            .img
                                img(src="img/blog-1.png", alt="")
                                h3 
                                    a(href="#") Configuring and scaling data platforms when doing cloud native application development
                            .footer-item(style="color:#E30075")
                                h3 Sales & Marketing
                                p.icon-line 23 min
                        .blog-item
                            .img
                                img(src="img/blog-1.png", alt="")
                                h3 
                                    a(href="#") Configuring and scaling data platforms when doing cloud native application development
                            .footer-item(style="color:#E30075")
                                h3 Sales & Marketing
                                p.icon-line 23 min
        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-8.vc_col-xs-12
            .vc_column-inner
                .wpb_wrapper
                    h2.title Configuring and scaling data platforms when doing cloud native application development
                    p.date Updated Jan-25-2022
                    p To succeed in evolving, software-driven markets, organizations must optimize the way they design, build, and use applications and data platforms. Along with increasingly popular cloud-native applications, data platforms are a big part of companies’ cloud infrastructure as a whole and, therefore, are an integral component of their cloud native application development cycle.
                    p Faced with immense and ever-growing amounts of data being generated at quicker and quicker rates, software developers need to pay particular attention to the scalability of their data platforms and applications. This is one reason why K3s has become so popular, as it improves the flexibility and scalability of cloud native applications due to its lightweight container properties and minimal resource requirements, differentiating it from K8s. They must also design and configure platforms and cloud native applications that can handle an increasing number of concurrent users. It’s not easy and is a constant challenge, but developing for scalability is an indisputable necessity.
                    h4 What is a data platform?
                    p While we have looked at cloud native application development in previous blog posts, we haven’t considered the data platform which some consider to be the backbone of the modern, data-focused, cloud infrastructure.
                    p A data platform is a comprehensive and necessary solution for consuming, processing, analyzing, and presenting data created by the many systems, applications, processes, and infrastructures of the contemporary digital enterprise. While there are a plethora of solutions and tailor-made applications for managing various aspects of the data lifecycle effectively, a true data platform ensures end-to-end data management.
                    p A data platform goes much further than providing simple business intelligence statistics. While it does deliver relevant data to enhance an enterprise’s decision-making, a true data platform collects and organizes many more types and configurations of data across the company, including not only integral data used for security and privacy, but also technical IT operations data. Essentially, a complete data platform has the ability to manage ALL the data a company ingests or generates.
                    p Data platforms are composed of data storage, servers, and data architecture. Aside from that, there are data consumption needs, data consolidation, and the ETL procedure.
                    p Businesses routinely face challenges with data management as a whole, including the consolidation of diverse data types stored in various silos, cloud and on-premise servers. This is where effective data platforms show their worth.
                    p The purpose of a data platform is to provide real-time insights through detailed analytics in a scalable, cost-efficient, and secure way. The most efficient data platforms can be held across distant geographies and in hybrid-cloud environments to strengthen business continuity plans.
                    a(href="#") For a definition of cloud native applications, see this article
                    h4 Why data platforms need to be built and configured for scale
                    p Today, the majority of the fastest-growing and most successful businesses are data-driven in some way or another. From more online visitors to an increased desire for analytics, one way or another, data is always being generated that needs to be securely stored. While data frequently appears to be the answer to many business problems, its formidable nature, from its assortment of technologies, skill sets, tools, and platforms, can be complicated and hard to manage.
                    p Data’s complexity and businesses’ raised demand for it is an added challenge as it becomes more challenging to prioritize, grow the team, recruit leading talent, keep costs down, and satisfy clients and stakeholders.
                    p Whatever the reason for scaling a data platform, whether that be for an increased user or data volume, there are two many strategies: Vertical and Horizontal.
                    h4 Vertical Scaling
                    p Possibly the most straightforward way to scale is to do so vertically – deploy on a more advanced cloud server with more CPU power and memory. 
                    p However, there are functional limitations to what can be accomplished through vertical scaling alone. Firstly, even the best machines and cloud servers may not be able to tolerate the immense data volumes and workloads required by modern cloud native applications. Secondly, the power and capacity required to effectively operate the necessary data platform will probably not be too cost-effective.
                    p Capacity management for single-server architectures can also be challenging, particularly for data platform solutions that will have inconsistent workloads. Having the capacity to manage peak loads could result in wasteful underutilization throughout off-hours. In contrast, having too little server capacity may cause performance to slow significantly during high usage. Moreover, expanding the capability of a single server architecture implies buying an entirely new machine or expanding cloud server storage.
                    p In short, while it is crucial for cloud native applications and data platforms to utilize the full potential of the hardware or server on which it was deployed, vertical scalability on its own isn’t enough to achieve anything above the most stationary workloads.
                    h4 Horizontal Scaling
                    p For the reasons provided above, most institutions pursuing considerable scalability for their data platform will deploy on hybrid cloud architectures, scaling workloads and data volumes “horizontally” by spreading the load across multiple servers. Utilizing K8s, developers have found this to be most effective with the added benefit of more secure cloud storage.
                    p Software developers will understand that no two workloads are identical. Some modern cloud native applications may be used by millions of users concurrently, with a lot of small transactions per second. Others may have only hundreds of users, but with petabytes worth of data. Both scenarios are very taxing workloads, but they demand different scalability strategies.
                    h4 Conclusion
                    p With constantly increasing amounts of data being generated, from more data-intensive apps and at quicker rates, developers are now required to pay particular attention to scalability when designing and building their data platforms and cloud native applications. Developers are primarily utilizing vertical and horizontal scaling methods to achieve this scalability by moving to a more advanced cloud architecture or spreading the load with a hybrid model.
                    h4 Footnote:
                    p Git Kubernetes, or git revert, is now one of the most popular commands among developers for its universal undo function. It doesn’t completely reverse the original command, however, as it is related to a specific commit. It doesn’t take away a commit from the versions history, alternatively, it creates a new commit with inverted content, reverting the project to the former state before the commit.
                    p Soon, we will begin posting content on the ever-popular GitHub.
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.form-block
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center;') Need help deciding what’s best for your company?
                    h5.vc_custom_heading.title(style='text-align: center;') Choose subject and fill contact form
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    #wpcf7-f577-p549-o2.wpcf7(role='form' lang='en-US' dir='ltr')
                    .screen-reader-response
                        p(role='status' aria-live='polite' aria-atomic='true')
                        ul
                    form.wpcf7-form.init(action='/new-home/#wpcf7-f577-p549-o2' method='post' novalidate='novalidate' data-status='init')
                        div(style='display: none;')
                            input(type='hidden' name='_wpcf7' value='577')
                            input(type='hidden' name='_wpcf7_version' value='5.5.6')
                            input(type='hidden' name='_wpcf7_locale' value='en_US')
                            input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f577-p549-o2')
                            input(type='hidden' name='_wpcf7_container_post' value='549')
                            input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                        .left-colums
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-book-a-free-consultation')
                                span.title I want to book a free consultation
                                span.description Fill out the form and one of our cloud specialists will get in touch with you
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-need-technical-support')
                                span.title I need technical support
                                span.description Get in touch with our technical support team
                            br 
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-learn-more-about-your-services')
                                span.title I want to learn more about your services
                                span.description
                                    | Fill out the form and a member of the Ostride Labs team will get in touch with you shortly
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-have-other-questions')
                                span.title I have other questions
                                span.description
                                    | Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can
                        .right-colums
                            h3 Contact form
                            p
                                span.wpcf7-form-control-wrap.full_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                br
                                span.wpcf7-form-control-wrap.company_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                br
                                span.wpcf7-form-control-wrap.email_user
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                br
                                span.wpcf7-form-control-wrap.message
                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                            p
                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                span.wpcf7-spinner
                            .wpcf7-response-output(aria-hidden='true')

html/dev/layout/blog-inner-content.html

<section>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-flex blog-inner">
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h1 class="vc_custom_heading title" style="text-align: center;">Blog</h1>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="breadcrumbs"><span><a class="home" href="#">Home</a></span><span>Configuring and scaling data platforms when doing cloud native application development</span></div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper"><img class="thumbnail" src="img/blog-inner.png" alt="#"/>
          <ul class="meta">
            <li style="color:#5C4188"><a href="#">Culture</a></li>
            <li style="color:#123265"> 
              <p class="icon-line">15 min</p>
            </li>
          </ul>
          <div class="author">
            <div class="author-photo">
              <h3>Author:</h3><img src="img/photo-2.jpg" alt=""/>
            </div>
            <div class="author-description">
              <h4>Hamish Lister</h4>
              <h5>Senior Content Manager</h5>
              <p>Hamish is a senior content manager at Ostride Labs. Hamish’s diverse background in technical research, analysis and market demand are the main drivers behind the topics he enjoys exploring and writing about.</p>
            </div>
          </div>
          <div class="blog">
            <h3>Read more</h3>
            <div class="blog-item">
              <div class="img"><img src="img/blog-1.png" alt=""/>
                <h3> <a href="#">Configuring and scaling data platforms when doing cloud native application development</a></h3>
              </div>
              <div class="footer-item" style="color:#E30075">
                <h3>Sales & Marketing</h3>
                <p class="icon-line">23 min</p>
              </div>
            </div>
            <div class="blog-item">
              <div class="img"><img src="img/blog-1.png" alt=""/>
                <h3> <a href="#">Configuring and scaling data platforms when doing cloud native application development</a></h3>
              </div>
              <div class="footer-item" style="color:#E30075">
                <h3>Sales & Marketing</h3>
                <p class="icon-line">23 min</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="title">Configuring and scaling data platforms when doing cloud native application development</h2>
          <p class="date">Updated Jan-25-2022</p>
          <p>To succeed in evolving, software-driven markets, organizations must optimize the way they design, build, and use applications and data platforms. Along with increasingly popular cloud-native applications, data platforms are a big part of companies’ cloud infrastructure as a whole and, therefore, are an integral component of their cloud native application development cycle.</p>
          <p>Faced with immense and ever-growing amounts of data being generated at quicker and quicker rates, software developers need to pay particular attention to the scalability of their data platforms and applications. This is one reason why K3s has become so popular, as it improves the flexibility and scalability of cloud native applications due to its lightweight container properties and minimal resource requirements, differentiating it from K8s. They must also design and configure platforms and cloud native applications that can handle an increasing number of concurrent users. It’s not easy and is a constant challenge, but developing for scalability is an indisputable necessity.</p>
          <h4>What is a data platform?</h4>
          <p>While we have looked at cloud native application development in previous blog posts, we haven’t considered the data platform which some consider to be the backbone of the modern, data-focused, cloud infrastructure.</p>
          <p>A data platform is a comprehensive and necessary solution for consuming, processing, analyzing, and presenting data created by the many systems, applications, processes, and infrastructures of the contemporary digital enterprise. While there are a plethora of solutions and tailor-made applications for managing various aspects of the data lifecycle effectively, a true data platform ensures end-to-end data management.</p>
          <p>A data platform goes much further than providing simple business intelligence statistics. While it does deliver relevant data to enhance an enterprise’s decision-making, a true data platform collects and organizes many more types and configurations of data across the company, including not only integral data used for security and privacy, but also technical IT operations data. Essentially, a complete data platform has the ability to manage ALL the data a company ingests or generates.</p>
          <p>Data platforms are composed of data storage, servers, and data architecture. Aside from that, there are data consumption needs, data consolidation, and the ETL procedure.</p>
          <p>Businesses routinely face challenges with data management as a whole, including the consolidation of diverse data types stored in various silos, cloud and on-premise servers. This is where effective data platforms show their worth.</p>
          <p>The purpose of a data platform is to provide real-time insights through detailed analytics in a scalable, cost-efficient, and secure way. The most efficient data platforms can be held across distant geographies and in hybrid-cloud environments to strengthen business continuity plans.</p><a href="#">For a definition of cloud native applications, see this article</a>
          <h4>Why data platforms need to be built and configured for scale</h4>
          <p>Today, the majority of the fastest-growing and most successful businesses are data-driven in some way or another. From more online visitors to an increased desire for analytics, one way or another, data is always being generated that needs to be securely stored. While data frequently appears to be the answer to many business problems, its formidable nature, from its assortment of technologies, skill sets, tools, and platforms, can be complicated and hard to manage.</p>
          <p>Data’s complexity and businesses’ raised demand for it is an added challenge as it becomes more challenging to prioritize, grow the team, recruit leading talent, keep costs down, and satisfy clients and stakeholders.</p>
          <p>Whatever the reason for scaling a data platform, whether that be for an increased user or data volume, there are two many strategies: Vertical and Horizontal.</p>
          <h4>Vertical Scaling</h4>
          <p>Possibly the most straightforward way to scale is to do so vertically – deploy on a more advanced cloud server with more CPU power and memory. </p>
          <p>However, there are functional limitations to what can be accomplished through vertical scaling alone. Firstly, even the best machines and cloud servers may not be able to tolerate the immense data volumes and workloads required by modern cloud native applications. Secondly, the power and capacity required to effectively operate the necessary data platform will probably not be too cost-effective.</p>
          <p>Capacity management for single-server architectures can also be challenging, particularly for data platform solutions that will have inconsistent workloads. Having the capacity to manage peak loads could result in wasteful underutilization throughout off-hours. In contrast, having too little server capacity may cause performance to slow significantly during high usage. Moreover, expanding the capability of a single server architecture implies buying an entirely new machine or expanding cloud server storage.</p>
          <p>In short, while it is crucial for cloud native applications and data platforms to utilize the full potential of the hardware or server on which it was deployed, vertical scalability on its own isn’t enough to achieve anything above the most stationary workloads.</p>
          <h4>Horizontal Scaling</h4>
          <p>For the reasons provided above, most institutions pursuing considerable scalability for their data platform will deploy on hybrid cloud architectures, scaling workloads and data volumes “horizontally” by spreading the load across multiple servers. Utilizing K8s, developers have found this to be most effective with the added benefit of more secure cloud storage.</p>
          <p>Software developers will understand that no two workloads are identical. Some modern cloud native applications may be used by millions of users concurrently, with a lot of small transactions per second. Others may have only hundreds of users, but with petabytes worth of data. Both scenarios are very taxing workloads, but they demand different scalability strategies.</p>
          <h4>Conclusion</h4>
          <p>With constantly increasing amounts of data being generated, from more data-intensive apps and at quicker rates, developers are now required to pay particular attention to scalability when designing and building their data platforms and cloud native applications. Developers are primarily utilizing vertical and horizontal scaling methods to achieve this scalability by moving to a more advanced cloud architecture or spreading the load with a hybrid model.</p>
          <h4>Footnote:</h4>
          <p>Git Kubernetes, or git revert, is now one of the most popular commands among developers for its universal undo function. It doesn’t completely reverse the original command, however, as it is related to a specific commit. It doesn’t take away a commit from the versions history, alternatively, it creates a new commit with inverted content, reverting the project to the former state before the commit.</p>
          <p>Soon, we will begin posting content on the ever-popular GitHub.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex form-block">
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center;">Need help deciding what’s best for your company?</h2>
          <h5 class="vc_custom_heading title" style="text-align: center;">Choose subject and fill contact form</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpcf7" id="wpcf7-f577-p549-o2" role="form" lang="en-US" dir="ltr"></div>
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form class="wpcf7-form init" action="/new-home/#wpcf7-f577-p549-o2" method="post" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="577"/>
              <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en_US"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f577-p549-o2"/>
              <input type="hidden" name="_wpcf7_container_post" value="549"/>
              <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
            </div>
            <div class="left-colums">
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-book-a-free-consultation"/></span></span></span><span class="title">I want to book a free consultation</span><span class="description">Fill out the form and one of our cloud specialists will get in touch with you</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-need-technical-support"/></span></span></span><span class="title">I need technical support</span><span class="description">Get in touch with our technical support team</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-learn-more-about-your-services"/></span></span></span><span class="title">I want to learn more about your services</span><span class="description">Fill out the form and a member of the Ostride Labs team will get in touch with you shortly</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-have-other-questions"/></span></span></span><span class="title">I have other questions</span><span class="description">Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can</span></label>
            </div>
            <div class="right-colums">
              <h3>Contact form</h3>
              <p><span class="wpcf7-form-control-wrap full_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                  <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span></p>
              <p>
                <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
              </p>
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
