html/dev/layout/career-content.html

<section>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex banner" style="background-image:url(img/bg-banner-7.png)"> 
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h1 class="vc_custom_heading title" style="text-align: left">Work for Ostride Labs</h1>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>Do you have what it takes to push the limits of cloud <br/>technology? Then OSTD Labs wants you.</p>
            </div>
          </div>
          <div class="vc_btn3-container button blue vc_btn3-inline">
            <button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey">Let us know</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex opportunities">
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center;">Current Opportunities</h2>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="opportunities-item">
            <h3>Site Reliability Engineer</h3>
            <p class="icon-clock">Full time</p><a class="button" href="#" data-toggle="modal" data-target=".reliability">Learn more</a>
          </div>
          <div class="opportunities-item">
            <h3>Site Reliability Engineer</h3>
            <p class="icon-clock">Full time</p><a class="button" href="#" data-toggle="modal" data-target=".devops">Learn more  </a>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p>If you are interested in any of these positions, we would love to hear from you. <br/>Please, mail us:</p>
            </div>
          </div>
          <div class="vc_btn3-container vc_btn3-inline icon-mail"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey" href="mailto:career@ostridelabs.com" title="">career@ostridelabs.com </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid text-block vc_row-has-fill vc_row-o-content-middle vc_row-flex">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center">Are you ready to take on these challenges?</h2>
          <div class="wpb_text_column wpb_content_element description">
            <div class="wpb_wrapper">
              <p style="text-align: center;">This challenging, yet interesting role requires a passionate and experienced individual<br/>that understands best practices and today’s leading challenges. You’ll be expected to<br/>think on your feet in a fast-paced environment. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_row wpb_row vc_inner vc_row-fluid vc_row-o-content-middle vc_row-flex form-block">
    <div class="wpb_column vc_column_container vc_col-sm-12"> 
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <h2 class="vc_custom_heading title" style="text-align: center;">Need help deciding what’s best for your company?</h2>
          <h5 class="vc_custom_heading title" style="text-align: center;">Choose subject and fill contact form</h5>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpcf7" id="wpcf7-f577-p549-o2" role="form" lang="en-US" dir="ltr"></div>
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form class="wpcf7-form init" action="/new-home/#wpcf7-f577-p549-o2" method="post" novalidate="novalidate" data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="577"/>
              <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en_US"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f577-p549-o2"/>
              <input type="hidden" name="_wpcf7_container_post" value="549"/>
              <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
            </div>
            <div class="left-colums">
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-book-a-free-consultation"/></span></span></span><span class="title">I want to book a free consultation</span><span class="description">Fill out the form and one of our cloud specialists will get in touch with you</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-need-technical-support"/></span></span></span><span class="title">I need technical support</span><span class="description">Get in touch with our technical support team</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-want-to-learn-more-about-your-services"/></span></span></span><span class="title">I want to learn more about your services</span><span class="description">Fill out the form and a member of the Ostride Labs team will get in touch with you shortly</span></label><br/>
              <label><span class="wpcf7-form-control-wrap subject-mail"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first last">
                      <input type="radio" name="subject-mail" value="I-have-other-questions"/></span></span></span><span class="title">I have other questions</span><span class="description">Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can</span></label>
            </div>
            <div class="right-colums">
              <h3>Contact form</h3>
              <p><span class="wpcf7-form-control-wrap full_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                  <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                  <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                  <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span></p>
              <p>
                <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
              </p>
              <div class="wpcf7-response-output" aria-hidden="true"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/career-content.pug
section
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.banner(style="background-image:url(img/bg-banner-7.png)") 
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h1.vc_custom_heading.title(style='text-align: left')
                        | Work for Ostride Labs
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p Do you have what it takes to push the limits of cloud 
                                br
                                | technology? Then OSTD Labs wants you.
                    .vc_btn3-container.button.blue.vc_btn3-inline
                        button.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey Let us know
    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.opportunities
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center;') Current Opportunities
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    .opportunities-item
                        h3 Site Reliability Engineer
                        p.icon-clock Full time
                        a.button(href="#" data-toggle="modal" data-target=".reliability") Learn more
                    .opportunities-item
                        h3 Site Reliability Engineer
                        p.icon-clock Full time
                        a.button(href="#" data-toggle="modal" data-target=".devops") Learn more  
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p If you are interested in any of these positions, we would love to hear from you. 
                                br
                                | Please, mail us:
                    .vc_btn3-container.vc_btn3-inline.icon-mail
                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey(href='mailto:career@ostridelabs.com' title='') career@ostridelabs.com 
    .vc_row.wpb_row.vc_inner.vc_row-fluid.text-block.vc_row-has-fill.vc_row-o-content-middle.vc_row-flex
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center') Are you ready to take on these challenges?
                    .wpb_text_column.wpb_content_element.description
                        .wpb_wrapper
                            p(style='text-align: center;')
                                | This challenging, yet interesting role requires a passionate and experienced individual
                                br
                                | that understands best practices and today’s leading challenges. You’ll be expected to
                                br
                                | think on your feet in a fast-paced environment. 

    .vc_row.wpb_row.vc_inner.vc_row-fluid.vc_row-o-content-middle.vc_row-flex.form-block
        .wpb_column.vc_column_container.vc_col-sm-12 
            .vc_column-inner
                .wpb_wrapper
                    h2.vc_custom_heading.title(style='text-align: center;') Need help deciding what’s best for your company?
                    h5.vc_custom_heading.title(style='text-align: center;') Choose subject and fill contact form
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    #wpcf7-f577-p549-o2.wpcf7(role='form' lang='en-US' dir='ltr')
                    .screen-reader-response
                        p(role='status' aria-live='polite' aria-atomic='true')
                        ul
                    form.wpcf7-form.init(action='/new-home/#wpcf7-f577-p549-o2' method='post' novalidate='novalidate' data-status='init')
                        div(style='display: none;')
                            input(type='hidden' name='_wpcf7' value='577')
                            input(type='hidden' name='_wpcf7_version' value='5.5.6')
                            input(type='hidden' name='_wpcf7_locale' value='en_US')
                            input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f577-p549-o2')
                            input(type='hidden' name='_wpcf7_container_post' value='549')
                            input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                        .left-colums
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-book-a-free-consultation')
                                span.title I want to book a free consultation
                                span.description Fill out the form and one of our cloud specialists will get in touch with you
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-need-technical-support')
                                span.title I need technical support
                                span.description Get in touch with our technical support team
                            br 
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-want-to-learn-more-about-your-services')
                                span.title I want to learn more about your services
                                span.description
                                    | Fill out the form and a member of the Ostride Labs team will get in touch with you shortly
                            br
                            label
                                span.wpcf7-form-control-wrap.subject-mail
                                    span.wpcf7-form-control.wpcf7-radio
                                        span.wpcf7-list-item.first.last
                                            input(type='radio' name='subject-mail' value='I-have-other-questions')
                                span.title I have other questions
                                span.description
                                    | Not sure what you need? Fill out the form and we’ll reach out to you as soon as we can
                        .right-colums
                            h3 Contact form
                            p
                                span.wpcf7-form-control-wrap.full_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                br
                                span.wpcf7-form-control-wrap.company_name
                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                br
                                span.wpcf7-form-control-wrap.email_user
                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                br
                                span.wpcf7-form-control-wrap.message
                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                            p
                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                span.wpcf7-spinner
                            .wpcf7-response-output(aria-hidden='true')
