html/dev/pug/layout/services-inner-content-4.pug
section 
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex.services-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Over 60% of all security
                                        br
                                        | breaches are internal.
                                        br
                                        strong
                                            | Protect your data and the
                                            br
                                            | data of your clients.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/security.png' alt='')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-title.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center') Security
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper  
                                    ul.security
                                        li.icon-lock
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                        li.icon-lock
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                            i.icon-star
                                    svg.security-svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 538 300' width='538' height='300')
                                        defs 
                                            style.
                                                .security-svg .cls-1 {fill: url(#gradient);}.security-svg .cls-2,.security-svg .cls-8 {fill: #1e3562;}.security-svg .cls-3 {fill: #6cbcea;}.security-svg .cls-10,.security-svg .cls-4 {fill: #399fd9;}.security-svg .cls-4,.security-svg .cls-6,.security-svg .cls-7,.security-svg .cls-8,.security-svg .cls-9 {fill-rule: evenodd;}.security-svg .cls-11,.security-svg .cls-14,.security-svg .cls-16,.security-svg .cls-18,.security-svg .cls-5 {fill: #fff;}.security-svg .cls-6 {fill: #3966af;}.security-svg .cls-7 {fill: #15233b;}.security-svg .cls-9 {fill: #57bfca;}.security-svg .cls-11,.security-svg .cls-14,.security-svg .cls-16,.security-svg .cls-18,.security-svg .cls-20 {font-size: 14px;font-family: WorkSans-Regular, Work Sans;letter-spacing: -0.02em;}.security-svg .cls-20 {fill: #08DDDD;}
                                            lineargradient#gradient(x1='269' y1='-146.37' x2='269' y2='193.13' gradientTransform='translate(0 146.37)' gradientUnits='userSpaceOnUse')
                                                stop(offset='0' stop-color='#3966af')
                                                stop(offset='1' stop-color='#1e3562')
                                        rect.cls-1(width='538' height='300' rx='15')
                                        g.arrows
                                            path.cls-9(d='M67.67,80a1,1,0,0,0-1.11.35l-6.3,7.48a1.09,1.09,0,0,0,1.66,1.4l4.63-5.51v47.79h0v2H89.3L84,138.05a1,1,0,0,0,1.34,1.59l7.18-6a1.27,1.27,0,0,0,0-1.79l-7.18-6A1,1,0,0,0,84,127.36l5,4.19H68.55V83.48l4.88,5.79a1.09,1.09,0,0,0,1.66-1.4l-6.3-7.48A1.07,1.07,0,0,0,67.67,80Z')
                                            path.cls-9(d='M67.67,209.85a1.08,1.08,0,0,1-1.11-.35l-6.3-7.5a1.09,1.09,0,0,1,0-1.54,1.1,1.1,0,0,1,1.55,0l.12.15,4.63,5.5V158.33h0v-2H89.3L84,151.84a1,1,0,1,1,1.34-1.6h0l7.18,6a1.26,1.26,0,0,1,0,1.78l-7.18,6a1,1,0,1,1-1.34-1.6h0l5-4.19H68.55V206.4l4.88-5.78a1.1,1.1,0,0,1,1.52-.27,1.09,1.09,0,0,1,.26,1.52.57.57,0,0,1-.12.15l-6.3,7.48A1.1,1.1,0,0,1,67.67,209.85Z')
                                        g.squares
                                            g.square
                                                rect.cls-2(x='261' y='14' width='117' height='117' rx='10')
                                                rect.cls-10(x='289' y='42' width='18' height='17' rx='5')
                                                rect.cls-10(x='332' y='42' width='18' height='17' rx='5')
                                                rect.cls-10(x='332' y='86' width='18' height='18' rx='5')
                                                rect.cls-10(x='289' y='86' width='18' height='18' rx='5')
                                                path.cls-6(d='M324.25,47.52l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,47.52Z')
                                                path.cls-6(d='M344.23,77.14l-3,3.57V64.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L336.24,67a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L345.24,78a.66.66,0,0,0-.17-.92.68.68,0,0,0-.83.07Z')
                                                path.cls-6(d='M324.25,91.4l3.58,3H311.38l3.58-3a.66.66,0,0,0-.85-1l-4.54,3.83a.61.61,0,0,0-.21.67.65.65,0,0,0,.21.68l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68L325.1,90.4a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,91.4Z')
                                                path.cls-6(d='M301.89,77.14l-3,3.57V64.27l3,3.57a.66.66,0,0,0,1-.85l-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L293.9,67a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4a.66.66,0,0,0-1,.85l3.82,4.54a1.21,1.21,0,0,0,1.36,0L302.9,78a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z')
                                                path.cls-9(d='M212.27,116.43l-5.73-4.83h44.73l-5.73,4.83a1.1,1.1,0,0,0-.27,1.52,1.09,1.09,0,0,0,1.52.26.57.57,0,0,0,.15-.12l7.48-6.3a2,2,0,0,0,0-2.23l-7.48-6.31a1.09,1.09,0,0,0-1.4,1.67l5.35,4.51h-44l5.35-4.51a1.09,1.09,0,0,0-1.4-1.67l-7.48,6.31a2,2,0,0,0,0,2.23l7.48,6.3a1.09,1.09,0,0,0,1.4-1.66Z')
                                                text.cls-11(transform='translate(275.06 34.13)') Google Cloud
                                            g.square
                                                rect.cls-2(x='397' y='91' width='117' height='117' rx='10')
                                                rect.cls-10(x='425' y='119' width='18' height='17' rx='5')
                                                rect.cls-10(x='468' y='119' width='18' height='17' rx='5')
                                                rect.cls-10(x='468' y='163' width='18' height='18' rx='5')
                                                rect.cls-10(x='425' y='163' width='18' height='18' rx='5')
                                                path.cls-6(d='M460.25,124.52l3.58,3H447.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,460.25,124.52Z')
                                                path.cls-6(d='M480.23,154.14l-3,3.57V141.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L472.24,144a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0l3.82-4.54a.66.66,0,0,0-.17-.92.68.68,0,0,0-.83.07Z')
                                                path.cls-6(d='M460.25,168.4l3.58,3H447.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,460.25,168.4Z')
                                                path.cls-6(d='M437.89,154.14l-3,3.57V141.27l3,3.57a.66.66,0,0,0,1-.85l-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L429.9,144a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4A.66.66,0,0,0,430,154a.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L438.9,155a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z')
                                                path.cls-9(d='M386.06,149.67a1,1,0,0,0-.35-1.11l-7.48-6.3a1.09,1.09,0,0,0-1.4,1.66l4.85,4.08H207.42l4.85-4.08a1.09,1.09,0,0,0-1.4-1.66L204.05,148H204l-.61.52a2,2,0,0,0,0,2.23l7.48,6.3a1.09,1.09,0,0,0,1.4-1.66L207,151H382.09l-5.26,4.43a1.1,1.1,0,0,0-.27,1.52,1.09,1.09,0,0,0,1.52.26.57.57,0,0,0,.15-.12l7.48-6.3A1.06,1.06,0,0,0,386.06,149.67Z')
                                                text.cls-11(transform='translate(428.31 111.03)') Secured
                                                text.cls-14(transform='translate(415.87 198.22)') On-Premise
                                            g.square
                                                rect.cls-2(x='261' y='166' width='117' height='117' rx='10')
                                                rect.cls-10(x='289' y='194' width='18' height='17' rx='5')
                                                rect.cls-10(x='332' y='194' width='18' height='17' rx='5')
                                                rect.cls-10(x='332' y='238' width='18' height='18' rx='5')
                                                rect.cls-10(x='289' y='238' width='18' height='18' rx='5')
                                                path.cls-6(d='M324.25,199.52l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,199.52Z')
                                                path.cls-6(d='M344.23,229.14l-3,3.57V216.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L336.24,219a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0l3.82-4.54a.66.66,0,0,0-.91-1l-.09.11Z')
                                                path.cls-6(d='M324.25,243.4l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,243.4Z')
                                                path.cls-6(d='M301.89,229.14l-3,3.57V216.27l3,3.57a.66.66,0,0,0,.92.17.65.65,0,0,0,.17-.91l-.09-.11-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L293.9,219a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4A.66.66,0,0,0,294,229a.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L302.9,230a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z')
                                                path.cls-9(d='M212.27,180.57l-5.73,4.83h44.73l-5.73-4.83a1.1,1.1,0,0,1-.27-1.52,1.09,1.09,0,0,1,1.52-.26.57.57,0,0,1,.15.12l7.48,6.3a2,2,0,0,1,0,2.23l-7.48,6.3a1.09,1.09,0,0,1-1.54,0,1.1,1.1,0,0,1,0-1.55l.15-.12,5.35-4.51h-44l5.35,4.51a1.09,1.09,0,0,1-1.4,1.66l-7.48-6.3a2,2,0,0,1,0-2.23l7.48-6.3a1.09,1.09,0,0,1,1.4,1.66Z')
                                                text.cls-16(transform='translate(304.29 273.01)') AWS
                                        g.cylinder
                                            text.cls-18(transform='translate(124.74 90.76)') Primary
                                            path.cls-3(d='M150.29,118.94c21.62,0,39.14-3.94,39.14-8.81s-17.52-8.8-39.14-8.8-39.13,3.94-39.13,8.8S128.68,118.94,150.29,118.94Z')
                                            path.cls-4(d='M189.43,110.13v23c0,5-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,5,17.52,9,39.13,9S189.43,115.08,189.43,110.13Z')
                                            path.cls-4(d='M189.43,134.34v23c0,4.94-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,4.95,17.52,9,39.13,9S189.43,139.29,189.43,134.34Z')
                                            path.cls-4(d='M189.43,158.55v23c0,4.94-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,4.95,17.52,9,39.13,9S189.43,163.5,189.43,158.55Z')
                                            path.cls-5(d='M124.57,134.34a5,5,0,1,0-4.82-5.18v.18a4.89,4.89,0,0,0,4.78,5Z')
                                            path.cls-5(d='M124.57,158.55a5,5,0,1,0-4.82-5.18v.18a4.89,4.89,0,0,0,4.78,5Z')
                                            path.cls-5(d='M124.57,182.76a5,5,0,1,0-4.82-5.18v.23A4.89,4.89,0,0,0,124.57,182.76Z')
                                            path.cls-6(d='M185.13,125.85v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.15-13.06-.44v1.42c4.1.28,8.49.43,13.06.43C164.9,129.94,178,128.3,185.13,125.85Z')
                                            path.cls-6(d='M185.13,150.06v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.16-13.06-.44v1.41c4.1.29,8.49.44,13.06.44C164.9,154.15,178,152.51,185.13,150.06Z')
                                            path.cls-6(d='M185.13,174.27v-1.41C178,175.31,164.9,177,150,177c-4.57,0-9-.16-13.06-.44V178c4.1.29,8.49.44,13.06.44C164.9,178.36,178,176.72,185.13,174.27Z')
                                            path.cls-6(d='M185.13,128.34v-1.7c-7.14,2.94-20.23,4.91-35.18,4.91-4.57,0-9-.19-13.06-.53v1.7c4.1.34,8.49.52,13.06.52C164.9,133.24,178,131.27,185.13,128.34Z')
                                            path.cls-6(d='M185.13,153.36V152c-7.13,2.4-20.23,4-35.13,4-4.57,0-9-.16-13.06-.44V157c4.1.28,8.49.43,13.06.43C164.9,157.45,178,155.81,185.13,153.36Z')
                                            path.cls-6(d='M185.13,177.57v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.16-13.06-.44v1.42c4.1.28,8.49.43,13.06.43C164.9,181.66,178,180,185.13,177.57Z')
                                        g.dr
                                            path.cls-7(d='M72,226h32.09a6.79,6.79,0,0,1,6.91,6.62v30.76a6.79,6.79,0,0,1-6.91,6.62H39.91A6.79,6.79,0,0,1,33,263.38V232.62A6.79,6.79,0,0,1,39.91,226Z')
                                            path.cls-8(d='M68,223h32.09a6.86,6.86,0,0,1,6.91,6.77v31.46a6.86,6.86,0,0,1-6.91,6.77H35.91A6.86,6.86,0,0,1,29,261.23V229.77A6.86,6.86,0,0,1,35.91,223Z')
                                            text.cls-20(transform='translate(57.1 250.87)') DR
                                        g.key
                                            path.cls-7(d='M71,32h32.09A6.79,6.79,0,0,1,110,38.62V69.38A6.79,6.79,0,0,1,103.09,76H38.91A6.79,6.79,0,0,1,32,69.38V38.62A6.79,6.79,0,0,1,38.91,32Z')
                                            path.cls-9(d='M67,29H99.09A6.86,6.86,0,0,1,106,35.77V67.23A6.86,6.86,0,0,1,99.09,74H34.91A6.86,6.86,0,0,1,28,67.23V35.77A6.86,6.86,0,0,1,34.91,29Z')
                                            path.cls-8(d='M67,29H99.09A6.86,6.86,0,0,1,106,35.77V67.23A6.86,6.86,0,0,1,99.09,74H34.91A6.86,6.86,0,0,1,28,67.23V35.77A6.86,6.86,0,0,1,34.91,29ZM85.11,44.29a7.21,7.21,0,1,1-7.35,7.21,7.21,7.21,0,0,1,7.35-7.21Zm0-4.81a12,12,0,1,1-12,14.43H44.86v2.77a2.46,2.46,0,0,1-4.91,0v-5.6L40,51v-.38h0v-.06h0v-.05a.8.8,0,0,1,.08-.16,2.5,2.5,0,0,1,2.1-1.16H73.09A12.22,12.22,0,0,1,85.11,39.48Z')
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left')
                                        | Enable transparency in a complex
                                        br
                                        | mechanism
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Security in a hybrid
                                        br
                                        | environment
                                        br
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Don’t compromise on security while
                                                br
                                                | running your platform regionally or
                                                br
                                                | on clients’ premises – make it your
                                                br
                                                | strength instead.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex.animation
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left')
                                        | What you actually need from
                                        br
                                        | everything that’s offered
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Security in a public
                                        br
                                        | cloud
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Public cloud has a lot of security
                                                br
                                                | perks to offer – but what about your
                                                br
                                                | processes? Make sure your tooling
                                                br
                                                | enables you to follow the key
                                                br
                                                | principles of need-to-know basis
                                                br
                                                | and segregation of duties.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper 
                                    .code-block
                                        ul.code-desc
                                            li IAM
                                            li ACL
                                            li Gatekeeper
                                        ul.icon-lock
                                            li Bastion host
                                            li Need to know basis
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.tools-block.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Tools
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul(style='position: relative; height: 70px;')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/chackmarx.svg' alt='' loading='lazy' title='chackmarx')
                                                    li.isotope-item(style='position: absolute; left: 110px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/aws-cloud.svg' alt='' loading='lazy' title='aws-cloud')
                                                    li.isotope-item(style='position: absolute; left: 220px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/sonarqube.svg' alt='' loading='lazy' title='sonarqube')
                                                    li.isotope-item(style='position: absolute; left: 330px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/micro-focus.svg' alt='' loading='lazy' title='micro-focus')
                                                    li.isotope-item(style='position: absolute; left: 440px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/SSDLC.svg' alt='' loading='lazy' title='SSDLC')
                                                    li.isotope-item(style='position: absolute; left: 550px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/google-cloud.svg' alt='' loading='lazy' title='google-cloud')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/security/#wpcf7-f808-p809-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')

html/dev/layout/services-inner-content-4.html

<section> 
  <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding vc_row-o-content-middle vc_row-flex services-inner">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="vc_row wpb_row vc_inner vc_row-fluid banner vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h2 class="vc_custom_heading title" style="text-align: left">Over 60% of all security<br/>breaches are internal.<br/><strong>Protect your data and the<br/>data of your clients.</strong></h2>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_right">
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/security.png" alt=""/></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-title vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h1 class="vc_custom_heading title" style="text-align: center">Security</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-item vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-7 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper"> 
                  <ul class="security">
                    <li class="icon-lock"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></li>
                    <li class="icon-lock"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></li>
                  </ul>
                  <svg class="security-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 538 300" width="538" height="300">
                    <defs> 
                      <style>.security-svg .cls-1 {fill: url(#gradient);}.security-svg .cls-2,.security-svg .cls-8 {fill: #1e3562;}.security-svg .cls-3 {fill: #6cbcea;}.security-svg .cls-10,.security-svg .cls-4 {fill: #399fd9;}.security-svg .cls-4,.security-svg .cls-6,.security-svg .cls-7,.security-svg .cls-8,.security-svg .cls-9 {fill-rule: evenodd;}.security-svg .cls-11,.security-svg .cls-14,.security-svg .cls-16,.security-svg .cls-18,.security-svg .cls-5 {fill: #fff;}.security-svg .cls-6 {fill: #3966af;}.security-svg .cls-7 {fill: #15233b;}.security-svg .cls-9 {fill: #57bfca;}.security-svg .cls-11,.security-svg .cls-14,.security-svg .cls-16,.security-svg .cls-18,.security-svg .cls-20 {font-size: 14px;font-family: WorkSans-Regular, Work Sans;letter-spacing: -0.02em;}.security-svg .cls-20 {fill: #08DDDD;}</style>
                      <lineargradient id="gradient" x1="269" y1="-146.37" x2="269" y2="193.13" gradientTransform="translate(0 146.37)" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#3966af"></stop>
                        <stop offset="1" stop-color="#1e3562"></stop>
                      </lineargradient>
                    </defs>
                    <rect class="cls-1" width="538" height="300" rx="15"></rect>
                    <g class="arrows">
                      <path class="cls-9" d="M67.67,80a1,1,0,0,0-1.11.35l-6.3,7.48a1.09,1.09,0,0,0,1.66,1.4l4.63-5.51v47.79h0v2H89.3L84,138.05a1,1,0,0,0,1.34,1.59l7.18-6a1.27,1.27,0,0,0,0-1.79l-7.18-6A1,1,0,0,0,84,127.36l5,4.19H68.55V83.48l4.88,5.79a1.09,1.09,0,0,0,1.66-1.4l-6.3-7.48A1.07,1.07,0,0,0,67.67,80Z"></path>
                      <path class="cls-9" d="M67.67,209.85a1.08,1.08,0,0,1-1.11-.35l-6.3-7.5a1.09,1.09,0,0,1,0-1.54,1.1,1.1,0,0,1,1.55,0l.12.15,4.63,5.5V158.33h0v-2H89.3L84,151.84a1,1,0,1,1,1.34-1.6h0l7.18,6a1.26,1.26,0,0,1,0,1.78l-7.18,6a1,1,0,1,1-1.34-1.6h0l5-4.19H68.55V206.4l4.88-5.78a1.1,1.1,0,0,1,1.52-.27,1.09,1.09,0,0,1,.26,1.52.57.57,0,0,1-.12.15l-6.3,7.48A1.1,1.1,0,0,1,67.67,209.85Z"></path>
                    </g>
                    <g class="squares">
                      <g class="square">
                        <rect class="cls-2" x="261" y="14" width="117" height="117" rx="10"></rect>
                        <rect class="cls-10" x="289" y="42" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="332" y="42" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="332" y="86" width="18" height="18" rx="5"></rect>
                        <rect class="cls-10" x="289" y="86" width="18" height="18" rx="5"></rect>
                        <path class="cls-6" d="M324.25,47.52l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,47.52Z"></path>
                        <path class="cls-6" d="M344.23,77.14l-3,3.57V64.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L336.24,67a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L345.24,78a.66.66,0,0,0-.17-.92.68.68,0,0,0-.83.07Z"></path>
                        <path class="cls-6" d="M324.25,91.4l3.58,3H311.38l3.58-3a.66.66,0,0,0-.85-1l-4.54,3.83a.61.61,0,0,0-.21.67.65.65,0,0,0,.21.68l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68L325.1,90.4a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,91.4Z"></path>
                        <path class="cls-6" d="M301.89,77.14l-3,3.57V64.27l3,3.57a.66.66,0,0,0,1-.85l-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L293.9,67a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4a.66.66,0,0,0-1,.85l3.82,4.54a1.21,1.21,0,0,0,1.36,0L302.9,78a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z"></path>
                        <path class="cls-9" d="M212.27,116.43l-5.73-4.83h44.73l-5.73,4.83a1.1,1.1,0,0,0-.27,1.52,1.09,1.09,0,0,0,1.52.26.57.57,0,0,0,.15-.12l7.48-6.3a2,2,0,0,0,0-2.23l-7.48-6.31a1.09,1.09,0,0,0-1.4,1.67l5.35,4.51h-44l5.35-4.51a1.09,1.09,0,0,0-1.4-1.67l-7.48,6.31a2,2,0,0,0,0,2.23l7.48,6.3a1.09,1.09,0,0,0,1.4-1.66Z"></path>
                        <text class="cls-11" transform="translate(275.06 34.13)">Google Cloud</text>
                      </g>
                      <g class="square">
                        <rect class="cls-2" x="397" y="91" width="117" height="117" rx="10"></rect>
                        <rect class="cls-10" x="425" y="119" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="468" y="119" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="468" y="163" width="18" height="18" rx="5"></rect>
                        <rect class="cls-10" x="425" y="163" width="18" height="18" rx="5"></rect>
                        <path class="cls-6" d="M460.25,124.52l3.58,3H447.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,460.25,124.52Z"></path>
                        <path class="cls-6" d="M480.23,154.14l-3,3.57V141.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L472.24,144a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0l3.82-4.54a.66.66,0,0,0-.17-.92.68.68,0,0,0-.83.07Z"></path>
                        <path class="cls-6" d="M460.25,168.4l3.58,3H447.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,460.25,168.4Z"></path>
                        <path class="cls-6" d="M437.89,154.14l-3,3.57V141.27l3,3.57a.66.66,0,0,0,1-.85l-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L429.9,144a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4A.66.66,0,0,0,430,154a.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L438.9,155a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z"></path>
                        <path class="cls-9" d="M386.06,149.67a1,1,0,0,0-.35-1.11l-7.48-6.3a1.09,1.09,0,0,0-1.4,1.66l4.85,4.08H207.42l4.85-4.08a1.09,1.09,0,0,0-1.4-1.66L204.05,148H204l-.61.52a2,2,0,0,0,0,2.23l7.48,6.3a1.09,1.09,0,0,0,1.4-1.66L207,151H382.09l-5.26,4.43a1.1,1.1,0,0,0-.27,1.52,1.09,1.09,0,0,0,1.52.26.57.57,0,0,0,.15-.12l7.48-6.3A1.06,1.06,0,0,0,386.06,149.67Z"></path>
                        <text class="cls-11" transform="translate(428.31 111.03)">Secured</text>
                        <text class="cls-14" transform="translate(415.87 198.22)">On-Premise</text>
                      </g>
                      <g class="square">
                        <rect class="cls-2" x="261" y="166" width="117" height="117" rx="10"></rect>
                        <rect class="cls-10" x="289" y="194" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="332" y="194" width="18" height="17" rx="5"></rect>
                        <rect class="cls-10" x="332" y="238" width="18" height="18" rx="5"></rect>
                        <rect class="cls-10" x="289" y="238" width="18" height="18" rx="5"></rect>
                        <path class="cls-6" d="M324.25,199.52l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,199.52Z"></path>
                        <path class="cls-6" d="M344.23,229.14l-3,3.57V216.27l3,3.57a.68.68,0,0,0,.94.08.65.65,0,0,0,.07-.93l-3.82-4.54a.65.65,0,0,0-.68-.21.63.63,0,0,0-.67.21L336.24,219a.67.67,0,0,0,.08.93.66.66,0,0,0,.93-.08h0l2.86-3.4v16.1l-2.86-3.4a.66.66,0,0,0-.92-.17.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0l3.82-4.54a.66.66,0,0,0-.91-1l-.09.11Z"></path>
                        <path class="cls-6" d="M324.25,243.4l3.58,3H311.38l3.58-3a.66.66,0,0,0,.17-.92.65.65,0,0,0-.91-.17l-.11.09-4.54,3.82a1.21,1.21,0,0,0,0,1.36l4.54,3.82a.65.65,0,0,0,.92-.06v0a.66.66,0,0,0-.08-.93h0l-3.4-2.86h16.1l-3.41,2.87a.67.67,0,0,0-.08.93.66.66,0,0,0,.93.08h0l4.55-3.83a.67.67,0,0,0,.21-.67.69.69,0,0,0-.21-.68l-4.55-3.83a.66.66,0,0,0-.93.08h0A.67.67,0,0,0,324.25,243.4Z"></path>
                        <path class="cls-6" d="M301.89,229.14l-3,3.57V216.27l3,3.57a.66.66,0,0,0,.92.17.65.65,0,0,0,.17-.91l-.09-.11-3.83-4.54a.63.63,0,0,0-.67-.21.65.65,0,0,0-.68.21L293.9,219a.66.66,0,0,0,.91,1l.09-.11,2.87-3.4v16.1l-2.87-3.4A.66.66,0,0,0,294,229a.65.65,0,0,0-.17.91l.09.11,3.82,4.54a1.21,1.21,0,0,0,1.36,0L302.9,230a.66.66,0,0,0-.08-.93h0a.65.65,0,0,0-.92.06Z"></path>
                        <path class="cls-9" d="M212.27,180.57l-5.73,4.83h44.73l-5.73-4.83a1.1,1.1,0,0,1-.27-1.52,1.09,1.09,0,0,1,1.52-.26.57.57,0,0,1,.15.12l7.48,6.3a2,2,0,0,1,0,2.23l-7.48,6.3a1.09,1.09,0,0,1-1.54,0,1.1,1.1,0,0,1,0-1.55l.15-.12,5.35-4.51h-44l5.35,4.51a1.09,1.09,0,0,1-1.4,1.66l-7.48-6.3a2,2,0,0,1,0-2.23l7.48-6.3a1.09,1.09,0,0,1,1.4,1.66Z"></path>
                        <text class="cls-16" transform="translate(304.29 273.01)">AWS</text>
                      </g>
                    </g>
                    <g class="cylinder">
                      <text class="cls-18" transform="translate(124.74 90.76)">Primary</text>
                      <path class="cls-3" d="M150.29,118.94c21.62,0,39.14-3.94,39.14-8.81s-17.52-8.8-39.14-8.8-39.13,3.94-39.13,8.8S128.68,118.94,150.29,118.94Z"></path>
                      <path class="cls-4" d="M189.43,110.13v23c0,5-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,5,17.52,9,39.13,9S189.43,115.08,189.43,110.13Z"></path>
                      <path class="cls-4" d="M189.43,134.34v23c0,4.94-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,4.95,17.52,9,39.13,9S189.43,139.29,189.43,134.34Z"></path>
                      <path class="cls-4" d="M189.43,158.55v23c0,4.94-17.52,9-39.14,9s-39.13-4-39.13-9v-23c0,4.95,17.52,9,39.13,9S189.43,163.5,189.43,158.55Z"></path>
                      <path class="cls-5" d="M124.57,134.34a5,5,0,1,0-4.82-5.18v.18a4.89,4.89,0,0,0,4.78,5Z"></path>
                      <path class="cls-5" d="M124.57,158.55a5,5,0,1,0-4.82-5.18v.18a4.89,4.89,0,0,0,4.78,5Z"></path>
                      <path class="cls-5" d="M124.57,182.76a5,5,0,1,0-4.82-5.18v.23A4.89,4.89,0,0,0,124.57,182.76Z"></path>
                      <path class="cls-6" d="M185.13,125.85v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.15-13.06-.44v1.42c4.1.28,8.49.43,13.06.43C164.9,129.94,178,128.3,185.13,125.85Z"></path>
                      <path class="cls-6" d="M185.13,150.06v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.16-13.06-.44v1.41c4.1.29,8.49.44,13.06.44C164.9,154.15,178,152.51,185.13,150.06Z"></path>
                      <path class="cls-6" d="M185.13,174.27v-1.41C178,175.31,164.9,177,150,177c-4.57,0-9-.16-13.06-.44V178c4.1.29,8.49.44,13.06.44C164.9,178.36,178,176.72,185.13,174.27Z"></path>
                      <path class="cls-6" d="M185.13,128.34v-1.7c-7.14,2.94-20.23,4.91-35.18,4.91-4.57,0-9-.19-13.06-.53v1.7c4.1.34,8.49.52,13.06.52C164.9,133.24,178,131.27,185.13,128.34Z"></path>
                      <path class="cls-6" d="M185.13,153.36V152c-7.13,2.4-20.23,4-35.13,4-4.57,0-9-.16-13.06-.44V157c4.1.28,8.49.43,13.06.43C164.9,157.45,178,155.81,185.13,153.36Z"></path>
                      <path class="cls-6" d="M185.13,177.57v-1.41c-7.14,2.45-20.23,4.09-35.18,4.09-4.57,0-9-.16-13.06-.44v1.42c4.1.28,8.49.43,13.06.43C164.9,181.66,178,180,185.13,177.57Z"></path>
                    </g>
                    <g class="dr">
                      <path class="cls-7" d="M72,226h32.09a6.79,6.79,0,0,1,6.91,6.62v30.76a6.79,6.79,0,0,1-6.91,6.62H39.91A6.79,6.79,0,0,1,33,263.38V232.62A6.79,6.79,0,0,1,39.91,226Z"></path>
                      <path class="cls-8" d="M68,223h32.09a6.86,6.86,0,0,1,6.91,6.77v31.46a6.86,6.86,0,0,1-6.91,6.77H35.91A6.86,6.86,0,0,1,29,261.23V229.77A6.86,6.86,0,0,1,35.91,223Z"></path>
                      <text class="cls-20" transform="translate(57.1 250.87)">DR</text>
                    </g>
                    <g class="key">
                      <path class="cls-7" d="M71,32h32.09A6.79,6.79,0,0,1,110,38.62V69.38A6.79,6.79,0,0,1,103.09,76H38.91A6.79,6.79,0,0,1,32,69.38V38.62A6.79,6.79,0,0,1,38.91,32Z"></path>
                      <path class="cls-9" d="M67,29H99.09A6.86,6.86,0,0,1,106,35.77V67.23A6.86,6.86,0,0,1,99.09,74H34.91A6.86,6.86,0,0,1,28,67.23V35.77A6.86,6.86,0,0,1,34.91,29Z"></path>
                      <path class="cls-8" d="M67,29H99.09A6.86,6.86,0,0,1,106,35.77V67.23A6.86,6.86,0,0,1,99.09,74H34.91A6.86,6.86,0,0,1,28,67.23V35.77A6.86,6.86,0,0,1,34.91,29ZM85.11,44.29a7.21,7.21,0,1,1-7.35,7.21,7.21,7.21,0,0,1,7.35-7.21Zm0-4.81a12,12,0,1,1-12,14.43H44.86v2.77a2.46,2.46,0,0,1-4.91,0v-5.6L40,51v-.38h0v-.06h0v-.05a.8.8,0,0,1,.08-.16,2.5,2.5,0,0,1,2.1-1.16H73.09A12.22,12.22,0,0,1,85.11,39.48Z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-5 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h5 class="vc_custom_heading title" style="text-align: left">Enable transparency in a complex<br/>mechanism</h5>
                  <h2 class="vc_custom_heading title" style="text-align: left">Security in a hybrid<br/>environment<br/></h2>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Don’t compromise on security while<br/>running your platform regionally or<br/>on clients’ premises – make it your<br/>strength instead.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-item vc_row-o-content-middle vc_row-flex animation">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-5 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h5 class="vc_custom_heading title" style="text-align: left">What you actually need from<br/>everything that’s offered</h5>
                  <h2 class="vc_custom_heading title" style="text-align: left">Security in a public<br/>cloud</h2>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Public cloud has a lot of security<br/>perks to offer – but what about your<br/>processes? Make sure your tooling<br/>enables you to follow the key<br/>principles of need-to-know basis<br/>and segregation of duties.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-7 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper"> 
                  <div class="code-block">
                    <ul class="code-desc">
                      <li>IAM</li>
                      <li>ACL</li>
                      <li>Gatekeeper</li>
                    </ul>
                    <ul class="icon-lock">
                      <li>Bastion host</li>
                      <li>Need to know basis</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid tools-block vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h2 class="vc_custom_heading title" style="text-align: center">Tools</h2>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul" style="position: relative; height: 70px;">
                          <li class="isotope-item" style="position: absolute; left: 0px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/chackmarx.svg" alt="" loading="lazy" title="chackmarx"/></li>
                          <li class="isotope-item" style="position: absolute; left: 110px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/aws-cloud.svg" alt="" loading="lazy" title="aws-cloud"/></li>
                          <li class="isotope-item" style="position: absolute; left: 220px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/sonarqube.svg" alt="" loading="lazy" title="sonarqube"/></li>
                          <li class="isotope-item" style="position: absolute; left: 330px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/micro-focus.svg" alt="" loading="lazy" title="micro-focus"/></li>
                          <li class="isotope-item" style="position: absolute; left: 440px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/SSDLC.svg" alt="" loading="lazy" title="SSDLC"/></li>
                          <li class="isotope-item" style="position: absolute; left: 550px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/05/google-cloud.svg" alt="" loading="lazy" title="google-cloud"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid gradient vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="templatera_shortcode">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row vc_inner vc_row-fluid form-block no-radio-button vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                  <h2 class="vc_custom_heading title" style="text-align: center">Need help deciding what’s best for your company?</h2>
                                  <h5 class="vc_custom_heading title" style="text-align: center">Feel free to contact us!</h5>
                                  <div class="wpcf7" id="wpcf7-f808-p809-o1" role="form" dir="ltr" lang="en-US">
                                    <div class="screen-reader-response">
                                      <p role="status" aria-live="polite" aria-atomic="true"></p>
                                      <ul></ul>
                                    </div>
                                    <form class="wpcf7-form init" action="/security/#wpcf7-f808-p809-o1" method="post" novalidate="novalidate" data-status="init">
                                      <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="808"/>
                                        <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
                                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f808-p809-o1"/>
                                        <input type="hidden" name="_wpcf7_container_post" value="809"/>
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
                                      </div>
                                      <p><span class="wpcf7-form-control-wrap full_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                                          <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                                          <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span><br/>
                                        <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
                                      </p>
                                      <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
