html/dev/layout/services-inner-content-2.html

<section>
  <div class="vc_row wpb_row vc_row-fluid vc_row-no-padding vc_row-o-content-middle vc_row-flex services-inner">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="vc_row wpb_row vc_inner vc_row-fluid banner vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h2 class="vc_custom_heading title" style="text-align: left">Regulatory compliance<br/>is about smart<br/>architecture and data<br/>management.<br/><strong>We are experts in both.</strong></h2>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_right">
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1.png" alt="" loading="lazy" title="architecture" srcset="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1.png 491w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1-300x300.png 300w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1-150x150.png 150w" sizes="(max-width: 491px) 100vw, 491px" width="491" height="491"/></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-title vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h1 class="vc_custom_heading title" style="text-align: center">COMPLIANCE AND ARCHITECTURE</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-item vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-7 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <h2><strong>NERC CIP </strong>/ FISMA<br/>CCPA / <strong>GDPR </strong>/ HIPAA <br/><strong>NIST CSF </strong>/ CJIS / FERPA  <strong>PCI DSS </strong>/ <strong>SOX </strong>/ CMMC  </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-5 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h5 class="vc_custom_heading title" style="text-align: left">Ensure compliance without having<br/>to change everything</h5>
                  <h2 class="vc_custom_heading title" style="text-align: left">Compliance is easy<br/>with us</h2>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>We know what’s important from the<br/>main list of PCI-DSS, GDPR, AML 5,<br/>SEC Rule 17-a-4(f), Reg SCI,<br/>FedRAMP, FIPS 140-2, and NIST<br/>800-171 and beyond.<br/>Making your existing platform<br/>compliant where it absolutely must<br/>be – and at the minimum cost – is<br/>our core expertise.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-item vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-5 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h5 class="vc_custom_heading title" style="text-align: left">Operate in the regions where your<br/>clients are</h5>
                  <h2 class="vc_custom_heading title" style="text-align: left">Unlock regional<br/>presence</h2>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Local regional presence is<br/>guaranteed compliance and trust of<br/>clients. We help you deploy your<br/>platform anywhere in a matter of<br/>hours – thanks to Terraform<br/>automations, Kubernetes and other<br/>cloud native tools.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-7 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_right">
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="img/map.svg" alt="" loading="lazy" title="map"/></div>
                    </figure>
                  </div>
                  <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                    <div class="wpb_wrapper">
                      <ul class="map-desc" data-title-before="MASTER" data-title-after="WORKER">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-item vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-8 vc_col-md-7 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <ul class="table">
                    <li> 
                      <p>Application</p>
                    </li>
                    <li> 
                      <p>Autoscaled DB Request Router</p>
                      <ul class="table-sub" data-title="Autoscaled DB Table">
                        <li><span class="loader"> <span></span><span></span><span></span></span>
                          <ul class="table-desc">
                            <li>Node1 <br/>Userlds 0-333</li>
                            <li>Node2 <br/>Userlds 334-666</li>
                            <li>Node3 <br/>Userlds 667-999</li>
                          </ul>
                        </li>
                        <li><span class="loader"> <span></span><span></span><span></span></span>
                          <ul class="table-desc">
                            <li>Node1 <br/>Userlds 0-333</li>
                            <li>Node2 <br/>Userlds 334-666</li>
                            <li>Node3 <br/>Userlds 667-999</li>
                          </ul>
                        </li>
                        <li><span class="loader"> <span></span><span></span><span></span></span>
                          <ul class="table-desc">
                            <li>Node1 <br/>Userlds 0-333</li>
                            <li>Node2 <br/>Userlds 334-666</li>
                            <li>Node3 <br/>Userlds 667-999</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-4 vc_col-md-5 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h5 class="vc_custom_heading title" style="text-align: left">Remove the notorious bottleneck of<br/>all fast-growing SaaS platforms</h5>
                  <h2 class="vc_custom_heading title" style="text-align: left">Scale your database<br/>automatically</h2>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Never run out of database<br/>connections again. Our team has got<br/>a vast experience on establishing<br/>serverless database configurations<br/>which scale automatically as<br/>the load grows.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid tools-block vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h2 class="vc_custom_heading title" style="text-align: center">Tools</h2>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul" style="position: relative; height: 70px;">
                          <li class="isotope-item" style="position: absolute; left: 0px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/terraform.svg" alt="" loading="lazy" title="terraform"/></li>
                          <li class="isotope-item" style="position: absolute; left: 110px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/pci.svg" alt="" loading="lazy" title="pci"/></li>
                          <li class="isotope-item" style="position: absolute; left: 220px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/google.svg" alt="" loading="lazy" title="google"/></li>
                          <li class="isotope-item" style="position: absolute; left: 330px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/aws.svg" alt="" loading="lazy" title="aws"/></li>
                          <li class="isotope-item" style="position: absolute; left: 440px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/kubernetes-1.svg" alt="" loading="lazy" title="kubernetes"/></li>
                          <li class="isotope-item" style="position: absolute; left: 550px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/eKYC.svg" alt="" loading="lazy" title="eKYC"/></li>
                          <li class="isotope-item" style="position: absolute; left: 660px; top: 0px;"><img class="attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/GDPR.svg" alt="" loading="lazy" title="GDPR"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid gradient vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-12 vc_col-md-12 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="templatera_shortcode">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row vc_inner vc_row-fluid form-block no-radio-button vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                  <h2 class="vc_custom_heading title" style="text-align: center">Need help deciding what’s best for your company?</h2>
                                  <h5 class="vc_custom_heading title" style="text-align: center">Feel free to contact us!</h5>
                                  <div class="wpcf7" id="wpcf7-f808-p809-o1" role="form" dir="ltr" lang="en-US">
                                    <div class="screen-reader-response">
                                      <p role="status" aria-live="polite" aria-atomic="true"></p>
                                      <ul></ul>
                                    </div>
                                    <form class="wpcf7-form init" action="/compliance-and-architecture/#wpcf7-f808-p809-o1" method="post" novalidate="novalidate" data-status="init">
                                      <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="808"/>
                                        <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
                                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f808-p809-o1"/>
                                        <input type="hidden" name="_wpcf7_container_post" value="809"/>
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
                                      </div>
                                      <p><span class="wpcf7-form-control-wrap full_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                                          <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                                          <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span><br/>
                                        <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
                                      </p>
                                      <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/services-inner-content-2.pug
section
    .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex.services-inner
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Regulatory compliance
                                        br
                                        | is about smart
                                        br
                                        | architecture and data
                                        br
                                        | management.
                                        br
                                        strong We are experts in both.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1.png' alt='' loading='lazy' title='architecture' srcset='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1.png 491w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1-300x300.png 300w, http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/architecture-1-150x150.png 150w' sizes='(max-width: 491px) 100vw, 491px' width='491' height='491')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-title.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center') COMPLIANCE AND ARCHITECTURE
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            h2
                                                strong NERC CIP 
                                                |/ FISMA
                                                br
                                                | CCPA / 
                                                strong GDPR 
                                                | / HIPAA 
                                                br  
                                                strong NIST CSF 
                                                |/ CJIS / FERPA  
                                                strong PCI DSS 
                                                | / 
                                                strong SOX 
                                                |/ CMMC  

                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left')
                                        | Ensure compliance without having
                                        br
                                        | to change everything
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Compliance is easy
                                        br
                                        | with us
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | We know what’s important from the
                                                br
                                                | main list of PCI-DSS, GDPR, AML 5,
                                                br
                                                | SEC Rule 17-a-4(f), Reg SCI,
                                                br
                                                | FedRAMP, FIPS 140-2, and NIST
                                                br
                                                | 800-171 and beyond.
                                                br
                                                | Making your existing platform
                                                br
                                                | compliant where it absolutely must
                                                br
                                                | be – and at the minimum cost – is
                                                br
                                                | our core expertise.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left')
                                        | Operate in the regions where your
                                        br
                                        | clients are
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Unlock regional
                                        br
                                        | presence
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Local regional presence is
                                                br
                                                | guaranteed compliance and trust of
                                                br
                                                | clients. We help you deploy your
                                                br
                                                | platform anywhere in a matter of
                                                br
                                                | hours – thanks to Terraform
                                                br
                                                | automations, Kubernetes and other
                                                br
                                                | cloud native tools.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_right
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='img/map.svg' alt='' loading='lazy' title='map')
                                    .wpb_raw_code.wpb_content_element.wpb_raw_html
                                        .wpb_wrapper
                                            ul.map-desc(data-title-before='MASTER' data-title-after='WORKER')
                                                li
                                                li
                                                li
                                                li 

                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-item.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-8.vc_col-md-7.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    ul.table
                                        li 
                                            p Application
                                        li 
                                            p Autoscaled DB Request Router
                                            ul.table-sub(data-title="Autoscaled DB Table")
                                                li
                                                    span.loader 
                                                        span
                                                        span
                                                        span
                                                    ul.table-desc
                                                        li Node1 
                                                            br
                                                            | Userlds 0-333
                                                        li Node2 
                                                            br
                                                            | Userlds 334-666
                                                        li Node3 
                                                            br
                                                            | Userlds 667-999
                                                li
                                                    span.loader 
                                                        span
                                                        span
                                                        span
                                                    ul.table-desc
                                                        li Node1 
                                                            br
                                                            | Userlds 0-333
                                                        li Node2 
                                                            br
                                                            | Userlds 334-666
                                                        li Node3 
                                                            br
                                                            | Userlds 667-999
                                                li
                                                    span.loader 
                                                        span
                                                        span
                                                        span
                                                    ul.table-desc
                                                        li Node1 
                                                            br
                                                            | Userlds 0-333
                                                        li Node2 
                                                            br
                                                            | Userlds 334-666
                                                        li Node3 
                                                            br
                                                            | Userlds 667-999
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-4.vc_col-md-5.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h5.vc_custom_heading.title(style='text-align: left')
                                        | Remove the notorious bottleneck of
                                        br
                                        | all fast-growing SaaS platforms
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        | Scale your database
                                        br
                                        | automatically
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Never run out of database
                                                br
                                                | connections again. Our team has got
                                                br
                                                | a vast experience on establishing
                                                br
                                                | serverless database configurations
                                                br
                                                | which scale automatically as
                                                br
                                                | the load grows.
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.tools-block.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: center') Tools
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul(style='position: relative; height: 70px;')
                                                    li.isotope-item(style='position: absolute; left: 0px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/terraform.svg' alt='' loading='lazy' title='terraform')
                                                    li.isotope-item(style='position: absolute; left: 110px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/pci.svg' alt='' loading='lazy' title='pci')
                                                    li.isotope-item(style='position: absolute; left: 220px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/google.svg' alt='' loading='lazy' title='google')
                                                    li.isotope-item(style='position: absolute; left: 330px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/aws.svg' alt='' loading='lazy' title='aws')
                                                    li.isotope-item(style='position: absolute; left: 440px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/kubernetes-1.svg' alt='' loading='lazy' title='kubernetes')
                                                    li.isotope-item(style='position: absolute; left: 550px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/eKYC.svg' alt='' loading='lazy' title='eKYC')
                                                    li.isotope-item(style='position: absolute; left: 660px; top: 0px;')
                                                        img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/GDPR.svg' alt='' loading='lazy' title='GDPR')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o1.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/compliance-and-architecture/#wpcf7-f808-p809-o1' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o1')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')
