html/dev/layout/services-content.html

<section>
  <div class="vc_row wpb_row vc_row-fluid services-page vc_row-no-padding vc_row-o-content-middle vc_row-flex" data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="vc_row wpb_row vc_inner vc_row-fluid banner img-top vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h2 class="vc_custom_heading title" style="text-align: left"><strong>Focus on building<br/>your product.</strong><br/>We make sure it is always<br/>up and running.</h2>
                </div>
              </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_center">
                    <figure class="wpb_wrapper vc_figure">
                      <div class="vc_single_image-wrapper vc_box_border_grey"><img class="vc_single_image-img attachment-full" src="http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/services.png" alt="" loading="lazy" title="services"/></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-title vc_row-o-content-middle vc_row-flex">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h1 class="vc_custom_heading title" style="text-align: center">SERVICES</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-block">
            <div class="img wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="vc_btn3-container link-page vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-o-empty vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/managed-services-sre/" title="Managed Services / SRE"><span class="vc_btn3-placeholder"> </span></a></div>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul">
                          <li class="isotope-item"><img class="attachment-full" src="img/sre-blue.png" alt="" loading="lazy" title="sre-blue"/></li>
                          <li class="isotope-item"><img class="attachment-full" src="img/sre.png" alt="" loading="lazy" title="sre"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Full-scale SRE function</p>
                      <p>A service tailored for your needs</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h3 class="vc_custom_heading title" style="text-align: center">Managed Services<br/>SRE</h3>
                  <div class="vc_btn3-container icon-left vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/managed-services-sre/" title="Managed Services / SRE">More</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-block">
            <div class="text wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h3 class="vc_custom_heading title" style="text-align: center">Security</h3>
                  <div class="vc_btn3-container icon-right vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/security/" title="Security">More</a></div>
                </div>
              </div>
            </div>
            <div class="img wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="vc_btn3-container link-page vc_btn3-inline" id="link-page"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-o-empty vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/security/" title="Security"><span class="vc_btn3-placeholder"> </span></a></div>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul">
                          <li class="isotope-item"><img class="attachment-full" src="img/security-blue.png" alt="" loading="lazy" title="security-blue"/></li>
                          <li class="isotope-item"><img class="attachment-full" src="img/security.png" alt="" loading="lazy" title="security"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Security in a public cloud</p>
                      <p>Security in a hybrid<br/>environment</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-block">
            <div class="img wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="vc_btn3-container link-page vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-o-empty vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/cloud-engineering-and-saas-development/" title="Cloud engineering And SaaS development"><span class="vc_btn3-placeholder"> </span></a></div>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul">
                          <li class="isotope-item"><img class="attachment-full" src="img/cloud-blue.png" alt="" loading="lazy" title="cloud-blue"/></li>
                          <li class="isotope-item"><img class="attachment-full" src="img/Cloud.png" alt="" loading="lazy" title="Cloud"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Build your SaaS from scratch</p>
                      <p>Go Cloud Native </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h3 class="vc_custom_heading title" style="text-align: center">Cloud engineering and<br/>SaaS development</h3>
                  <div class="vc_btn3-container icon-left vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/cloud-engineering-and-saas-development/" title="Cloud engineering And SaaS development">More</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid services-block">
            <div class="text wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <h3 class="vc_custom_heading title" style="text-align: center">Compliance and<br/>architecture</h3>
                  <div class="vc_btn3-container icon-right vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-custom vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/compliance-and-architecture/" title="Compliance and architecture">More</a></div>
                </div>
              </div>
            </div>
            <div class="img wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="vc_btn3-container link-page vc_btn3-inline"><a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-o-empty vc_btn3-color-grey" href="http://ostridelabs.docker.localhost/compliance-and-architecture/" title="Compliance and architecture"><span class="vc_btn3-placeholder"> </span></a></div>
                  <div class="wpb_gallery wpb_content_element vc_clearfix">
                    <div class="wpb_wrapper">
                      <div class="wpb_gallery_slides wpb_image_grid" data-interval="3">
                        <ul class="wpb_image_grid_ul">
                          <li class="isotope-item"><img class="attachment-full" src="img/architecture-blue.png" alt="" loading="lazy" title="architecture-blue"/></li>
                          <li class="isotope-item"><img class="attachment-full" src="img/architecture.png" alt="" loading="lazy" title="architecture"/></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="wpb_text_column wpb_content_element">
                    <div class="wpb_wrapper">
                      <p>Ensure compliance without having to<br/>change everything</p>
                      <p>Compliance is easy with us</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc_row wpb_row vc_inner vc_row-fluid gradient vc_row-o-content-middle vc_row-flex" id="form">
            <div class="wpb_column vc_column_container vc_col-sm-12">
              <div class="vc_column-inner">
                <div class="wpb_wrapper">
                  <div class="templatera_shortcode">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div class="vc_row wpb_row vc_inner vc_row-fluid form-block no-radio-button vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                              <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                  <h2 class="vc_custom_heading title" style="text-align: center">Need help deciding what’s best for your company?</h2>
                                  <h5 class="vc_custom_heading title" style="text-align: center">Feel free to contact us!</h5>
                                  <div class="wpcf7" id="wpcf7-f808-p809-o2" role="form" dir="ltr" lang="en-US">
                                    <div class="screen-reader-response">
                                      <p role="status" aria-live="polite" aria-atomic="true"></p>
                                      <ul></ul>
                                    </div>
                                    <form class="wpcf7-form init" action="/#wpcf7-f808-p809-o2" method="post" novalidate="novalidate" data-status="init">
                                      <div style="display: none;">
                                        <input type="hidden" name="_wpcf7" value="808"/>
                                        <input type="hidden" name="_wpcf7_version" value="5.5.6"/>
                                        <input type="hidden" name="_wpcf7_locale" value="en_US"/>
                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f808-p809-o2"/>
                                        <input type="hidden" name="_wpcf7_container_post" value="809"/>
                                        <input type="hidden" name="_wpcf7_posted_data_hash" value=""/>
                                      </div>
                                      <p><span class="wpcf7-form-control-wrap full_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="full_name" value="" size="40" aria-invalid="false" placeholder="Full name (optional)"/></span><br/><span class="wpcf7-form-control-wrap company_name">
                                          <input class="wpcf7-form-control wpcf7-text" type="text" name="company_name" value="" size="40" aria-invalid="false" placeholder="Company name (optional)"/></span><br/><span class="wpcf7-form-control-wrap email_user">
                                          <input class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" type="email" name="email_user" value="" size="40" aria-invalid="false" placeholder="Email address *"/></span><br/><span class="wpcf7-form-control-wrap message">
                                          <textarea class="wpcf7-form-control wpcf7-textarea" name="message" cols="40" rows="10" aria-invalid="false" placeholder="Message (optional)"></textarea></span><br/>
                                        <input class="wpcf7-form-control has-spinner wpcf7-submit" type="submit" value="SEND MESSAGE"/><span class="wpcf7-spinner"></span>
                                      </p>
                                      <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/services-content.pug
section
    .vc_row.wpb_row.vc_row-fluid.services-page.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex(data-vc-full-width='true' data-vc-full-width-init='false' data-vc-stretch-content='true')
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.banner.img-top.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h2.vc_custom_heading.title(style='text-align: left')
                                        strong
                                            | Focus on building
                                            br
                                            | your product.
                                        br
                                        | We make sure it is always
                                        br
                                        | up and running.
                        .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .wpb_single_image.wpb_content_element.vc_align_center
                                        figure.wpb_wrapper.vc_figure
                                            .vc_single_image-wrapper.vc_box_border_grey
                                                img.vc_single_image-img.attachment-full(src='http://ostridelabs.docker.localhost/wp-content/uploads/2022/04/services.png' alt='' loading='lazy' title='services')
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-title.vc_row-o-content-middle.vc_row-flex
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h1.vc_custom_heading.title(style='text-align: center') SERVICES
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-block
                        .img.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .vc_btn3-container.link-page.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-o-empty.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/managed-services-sre/' title='Managed Services / SRE')
                                            span.vc_btn3-placeholder  
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul
                                                    li.isotope-item
                                                        img.attachment-full(src='img/sre-blue.png' alt='' loading='lazy' title='sre-blue')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/sre.png' alt='' loading='lazy' title='sre')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p Full-scale SRE function
                                            p A service tailored for your needs
                        .text.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center')
                                        | Managed Services
                                        br
                                        | SRE
                                    .vc_btn3-container.icon-left.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-custom.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/managed-services-sre/' title='Managed Services / SRE') More
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-block
                        .text.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center') Security
                                    .vc_btn3-container.icon-right.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-custom.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/security/' title='Security') More
                        .img.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    #link-page.vc_btn3-container.link-page.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-o-empty.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/security/' title='Security')
                                            span.vc_btn3-placeholder  
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul
                                                    li.isotope-item
                                                        img.attachment-full(src='img/security-blue.png' alt='' loading='lazy' title='security-blue')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/security.png' alt='' loading='lazy' title='security')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p Security in a public cloud
                                            p
                                                | Security in a hybrid
                                                br
                                                | environment
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-block
                        .img.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .vc_btn3-container.link-page.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-o-empty.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/cloud-engineering-and-saas-development/' title='Cloud engineering And SaaS development')
                                            span.vc_btn3-placeholder  
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul
                                                    li.isotope-item
                                                        img.attachment-full(src='img/cloud-blue.png' alt='' loading='lazy' title='cloud-blue')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/Cloud.png' alt='' loading='lazy' title='Cloud')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p Build your SaaS from scratch
                                            p Go Cloud Native 
                        .text.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center')
                                        | Cloud engineering and
                                        br
                                        | SaaS development
                                    .vc_btn3-container.icon-left.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-custom.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/cloud-engineering-and-saas-development/' title='Cloud engineering And SaaS development') More
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.services-block
                        .text.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    h3.vc_custom_heading.title(style='text-align: center')
                                        | Compliance and
                                        br
                                        | architecture
                                    .vc_btn3-container.icon-right.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-custom.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/compliance-and-architecture/' title='Compliance and architecture') More
                        .img.wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-6.vc_col-xs-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .vc_btn3-container.link-page.vc_btn3-inline
                                        a.vc_general.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-o-empty.vc_btn3-color-grey(href='http://ostridelabs.docker.localhost/compliance-and-architecture/' title='Compliance and architecture')
                                            span.vc_btn3-placeholder  
                                    .wpb_gallery.wpb_content_element.vc_clearfix
                                        .wpb_wrapper
                                            .wpb_gallery_slides.wpb_image_grid(data-interval='3')
                                                ul.wpb_image_grid_ul
                                                    li.isotope-item
                                                        img.attachment-full(src='img/architecture-blue.png' alt='' loading='lazy' title='architecture-blue')
                                                    li.isotope-item
                                                        img.attachment-full(src='img/architecture.png' alt='' loading='lazy' title='architecture')
                                    .wpb_text_column.wpb_content_element
                                        .wpb_wrapper
                                            p
                                                | Ensure compliance without having to
                                                br
                                                | change everything
                                            p Compliance is easy with us
                    .vc_row.wpb_row.vc_inner.vc_row-fluid.gradient.vc_row-o-content-middle.vc_row-flex#form
                        .wpb_column.vc_column_container.vc_col-sm-12
                            .vc_column-inner
                                .wpb_wrapper
                                    .templatera_shortcode
                                        .wpb_column.vc_column_container.vc_col-sm-12
                                            .vc_column-inner
                                                .wpb_wrapper
                                                    .vc_row.wpb_row.vc_inner.vc_row-fluid.form-block.no-radio-button.vc_row-o-content-middle.vc_row-flex
                                                        .wpb_column.vc_column_container.vc_col-sm-12
                                                            .vc_column-inner
                                                                .wpb_wrapper
                                                                    h2.vc_custom_heading.title(style='text-align: center') Need help deciding what’s best for your company?
                                                                    h5.vc_custom_heading.title(style='text-align: center') Feel free to contact us!
                                                                    #wpcf7-f808-p809-o2.wpcf7(role='form' dir='ltr' lang='en-US')
                                                                        .screen-reader-response
                                                                            p(role='status' aria-live='polite' aria-atomic='true')
                                                                            ul
                                                                        form.wpcf7-form.init(action='/#wpcf7-f808-p809-o2' method='post' novalidate='novalidate' data-status='init')
                                                                            div(style='display: none;')
                                                                                input(type='hidden' name='_wpcf7' value='808')
                                                                                input(type='hidden' name='_wpcf7_version' value='5.5.6')
                                                                                input(type='hidden' name='_wpcf7_locale' value='en_US')
                                                                                input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f808-p809-o2')
                                                                                input(type='hidden' name='_wpcf7_container_post' value='809')
                                                                                input(type='hidden' name='_wpcf7_posted_data_hash' value='')
                                                                            p
                                                                                span.wpcf7-form-control-wrap.full_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='full_name' value='' size='40' aria-invalid='false' placeholder='Full name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.company_name
                                                                                    input.wpcf7-form-control.wpcf7-text(type='text' name='company_name' value='' size='40' aria-invalid='false' placeholder='Company name (optional)')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.email_user
                                                                                    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email(type='email' name='email_user' value='' size='40' aria-invalid='false' placeholder='Email address *')
                                                                                br
                                                                                span.wpcf7-form-control-wrap.message
                                                                                    textarea.wpcf7-form-control.wpcf7-textarea(name='message' cols='40' rows='10' aria-invalid='false' placeholder='Message (optional)')
                                                                                br
                                                                                input.wpcf7-form-control.has-spinner.wpcf7-submit(type='submit' value='SEND MESSAGE')
                                                                                span.wpcf7-spinner
                                                                            .wpcf7-response-output(aria-hidden='true')
