html/dev/pug/layout/terms-of-use-content.pug
section
    .vc_row.wpb_row.vc_row-fluid.terms-of-use.vc_row-no-padding.vc_row-o-content-middle.vc_row-flex 
        .wpb_column.vc_column_container.vc_col-sm-12
            .vc_column-inner
                .wpb_wrapper
                    .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                            p
                                | These Terms of Use (the “Terms of Use”) apply to the Provectus. website (the ”Site”) located at 
                                a(href='https://provectus.com/') https://provectus.com/
                                |  and govern your access to and use of the Site, as well as any information, text, graphics, or other materials appearing on the Site (the “Content”). Your access to and use of the Site and/or Content are expressly conditioned on your compliance with these Terms of Use. The Site is the property of Provectus IT, Inc.  By using the Site, you agree to these terms of use; if you do not agree, do not use the Site.
                            h2 Privacy
                            p
                                | Provectus Privacy Policy applies to use of this Site, and its terms are made a part of these Terms of Use by this reference. To view our Privacy Policy for information and notices concerningProvectus collection and use of your personal information, 
                                strong
                                    a(href='https://provectus.com/privacy-policy/') click here
                                | .
                            h2 Links to Other Sites
                            p
                                | This Site may contain links to other websites, some of which are operated by Provectus and others of which are operated by third parties. These Linked websites are provided solely as a convenience to our visitors. We have not necessarily reviewed all the information on those other sites and are not responsible for the content of those or any other sites or any products or services that may be offered through those or any other sites. Different terms and conditions may apply to your use of any linked sites. Provectus is not responsible for any losses, damages or other liabilities incurred as a result of your use of any linked sites.
                            h2 Content
                            p
                                | All text, graphics, information, visual interfaces, photographs, trademarks, logos, and computer code or other materials appearing on the Site, and arrangement of such Content contained on the Site is owned, controlled or licensed by Provectus, and is protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights and unfair competition laws.
                            p
                                | Provectus respects the intellectual property rights of others and expects our users to do the same. Unauthorized copying, modification, distribution, public display or public performance of a copyrighted work is an infringement of the copyright holder’s rights.
                            h2 Use of the Site
                            p
                                | You may not use contact information provided on the site for unauthorized purposes, including marketing. You may not use any hardware or software intended to damage or interfere with the proper working of the site or to surreptitiously intercept any system, data or personal information from the site. You agree not to interrupt or attempt to interrupt the operation of the site in any way. Provectus reserves the right, in its sole discretion, to limit or terminate your access to or use of the site at any time without notice. Termination of your access or use will not waive or affect any other right or relief to which may be entitled at law or in equity.
                            h2 Disclaimers
                            p
                                | PROVECTUS DOES NOT PROMISE THAT THE SITE OR ANY CONTENT, SERVICE OR FEATURE OF THE SITE WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT ANY DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE SITE WILL PROVIDE SPECIFIC RESULTS. THE SITE AND ITS CONTENT ARE DELIVERED ON AN “AS-IS” AND “AS-AVAILABLE” BASIS. ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE.P ROVECTUS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. PROVECTUS DISCLAIMS ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE SITE AND/OR ANY OF PROVECTUS SERVICES. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE SITE AND ANY LINKED SITES. YOUR SOLE REMEDY AGAINST PROVECTUS FOR DISSATISFACTION WITH THE SITE OR ANY CONTENT IS TO STOP USING THE SITE OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.
                            h2 Trademarks and Copyrights
                            p
                                | Trademarks, logos, service marks or images in promotional, advertising, instructional, or reference materials displayed on this site (the “Trademarks”) are registered trademarks of Provectus, or other third parties. All of these Trademarks are the property of their respective owners. Provectus reserves all rights not expressly granted in and to the site and its content. This site and all of its content, including but not limited to text, design, graphics, interfaces and code, and the selection and arrangement thereof, is protected as a compilation under the copyright laws of the United States and other countries.
                            h2 Limitation of Liability
                            p
                                | Except where prohibited by law, in no event will Provectus be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if Provectus has been advised of the possibility of such damages.
                            h2 Indemnification
                            p
                                | You are aware and agree to indemnify and hold Provectus and its affiliates and their employees, contractors, agents, licensors, service providers, subcontractors and suppliers from and against any and all losses, liabilities, claims or expenses, damages and costs, arising or resulting from your use of the Site and any violation of these Terms of Use.
                            h2 Governing Law and Dispute Resolution
                            p
                                | You agree that all matters relating to your access to or use of the Site, including all disputes, will be governed by the laws of the State of California without regard to its conflict of law provisions.
                            p
                                | In case that any Content on this Site, or your use of the Site, is contrary to the laws of the place where you are when you access it, the site is not intended for you, and we ask you not to use the site. You are responsible for informing yourself of the laws of your jurisdiction and complying with them.
                            h2 Changes to these Terms of Use
                            p
                                | Provectus reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.
                            h2 Termination
                            p
                                | In case if you violate any part of these Terms of Use, your permission to use the Site, Content, and Services will automatically terminate. Provectus reserves the right to revoke your access to and use of the Site, Content, and Services at any time, with or without cause.
                            h2 Entire Agreement
                            p
                                | These Terms of Use are the entire agreement between Provectus and you regarding the Site, Content, and Services, and these Terms of Use replace any prior agreements between Provectus and you regarding the Site, Content, and Services.

html/dev/layout/terms-of-use-content.html

<section>
  <div class="vc_row wpb_row vc_row-fluid terms-of-use vc_row-no-padding vc_row-o-content-middle vc_row-flex"> 
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <p>These Terms of Use (the “Terms of Use”) apply to the Provectus. website (the ”Site”) located at <a href="https://provectus.com/">https://provectus.com/</a> and govern your access to and use of the Site, as well as any information, text, graphics, or other materials appearing on the Site (the “Content”). Your access to and use of the Site and/or Content are expressly conditioned on your compliance with these Terms of Use. The Site is the property of Provectus IT, Inc.  By using the Site, you agree to these terms of use; if you do not agree, do not use the Site.</p>
              <h2>Privacy</h2>
              <p>Provectus Privacy Policy applies to use of this Site, and its terms are made a part of these Terms of Use by this reference. To view our Privacy Policy for information and notices concerningProvectus collection and use of your personal information, <strong><a href="https://provectus.com/privacy-policy/">click here</a></strong>.</p>
              <h2>Links to Other Sites</h2>
              <p>This Site may contain links to other websites, some of which are operated by Provectus and others of which are operated by third parties. These Linked websites are provided solely as a convenience to our visitors. We have not necessarily reviewed all the information on those other sites and are not responsible for the content of those or any other sites or any products or services that may be offered through those or any other sites. Different terms and conditions may apply to your use of any linked sites. Provectus is not responsible for any losses, damages or other liabilities incurred as a result of your use of any linked sites.</p>
              <h2>Content</h2>
              <p>All text, graphics, information, visual interfaces, photographs, trademarks, logos, and computer code or other materials appearing on the Site, and arrangement of such Content contained on the Site is owned, controlled or licensed by Provectus, and is protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights and unfair competition laws.</p>
              <p>Provectus respects the intellectual property rights of others and expects our users to do the same. Unauthorized copying, modification, distribution, public display or public performance of a copyrighted work is an infringement of the copyright holder’s rights.</p>
              <h2>Use of the Site</h2>
              <p>You may not use contact information provided on the site for unauthorized purposes, including marketing. You may not use any hardware or software intended to damage or interfere with the proper working of the site or to surreptitiously intercept any system, data or personal information from the site. You agree not to interrupt or attempt to interrupt the operation of the site in any way. Provectus reserves the right, in its sole discretion, to limit or terminate your access to or use of the site at any time without notice. Termination of your access or use will not waive or affect any other right or relief to which may be entitled at law or in equity.</p>
              <h2>Disclaimers</h2>
              <p>PROVECTUS DOES NOT PROMISE THAT THE SITE OR ANY CONTENT, SERVICE OR FEATURE OF THE SITE WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT ANY DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE SITE WILL PROVIDE SPECIFIC RESULTS. THE SITE AND ITS CONTENT ARE DELIVERED ON AN “AS-IS” AND “AS-AVAILABLE” BASIS. ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE WITHOUT NOTICE.P ROVECTUS DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. PROVECTUS DISCLAIMS ANY AND ALL LIABILITY FOR THE ACTS, OMISSIONS AND CONDUCT OF ANY THIRD PARTIES IN CONNECTION WITH OR RELATED TO YOUR USE OF THE SITE AND/OR ANY OF PROVECTUS SERVICES. YOU ASSUME TOTAL RESPONSIBILITY FOR YOUR USE OF THE SITE AND ANY LINKED SITES. YOUR SOLE REMEDY AGAINST PROVECTUS FOR DISSATISFACTION WITH THE SITE OR ANY CONTENT IS TO STOP USING THE SITE OR ANY SUCH CONTENT. THIS LIMITATION OF RELIEF IS A PART OF THE BARGAIN BETWEEN THE PARTIES.</p>
              <h2>Trademarks and Copyrights</h2>
              <p>Trademarks, logos, service marks or images in promotional, advertising, instructional, or reference materials displayed on this site (the “Trademarks”) are registered trademarks of Provectus, or other third parties. All of these Trademarks are the property of their respective owners. Provectus reserves all rights not expressly granted in and to the site and its content. This site and all of its content, including but not limited to text, design, graphics, interfaces and code, and the selection and arrangement thereof, is protected as a compilation under the copyright laws of the United States and other countries.</p>
              <h2>Limitation of Liability</h2>
              <p>Except where prohibited by law, in no event will Provectus be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if Provectus has been advised of the possibility of such damages.</p>
              <h2>Indemnification</h2>
              <p>You are aware and agree to indemnify and hold Provectus and its affiliates and their employees, contractors, agents, licensors, service providers, subcontractors and suppliers from and against any and all losses, liabilities, claims or expenses, damages and costs, arising or resulting from your use of the Site and any violation of these Terms of Use.</p>
              <h2>Governing Law and Dispute Resolution</h2>
              <p>You agree that all matters relating to your access to or use of the Site, including all disputes, will be governed by the laws of the State of California without regard to its conflict of law provisions.</p>
              <p>In case that any Content on this Site, or your use of the Site, is contrary to the laws of the place where you are when you access it, the site is not intended for you, and we ask you not to use the site. You are responsible for informing yourself of the laws of your jurisdiction and complying with them.</p>
              <h2>Changes to these Terms of Use</h2>
              <p>Provectus reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.</p>
              <h2>Termination</h2>
              <p>In case if you violate any part of these Terms of Use, your permission to use the Site, Content, and Services will automatically terminate. Provectus reserves the right to revoke your access to and use of the Site, Content, and Services at any time, with or without cause.</p>
              <h2>Entire Agreement</h2>
              <p>These Terms of Use are the entire agreement between Provectus and you regarding the Site, Content, and Services, and these Terms of Use replace any prior agreements between Provectus and you regarding the Site, Content, and Services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
